

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(215, 215, 215);
    font-family: Arial;
}

a{
    text-decoration: none;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar{
    background-color: #ea580c;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 30px;
    padding: 10px;
}

.header{
    background-color: #fff;
    grid-area: header;
    display: grid;
    grid-template: min-content 2fr / 6fr 4fr;
    padding: 10px 25px;
    align-items: center;

}

.content{
    background-color: #fff7ed;
    grid-area: main-content;
    padding:10px;
    display: grid;
    grid-template: repeat(2, 1fr) / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: 15px;
    overflow: auto;
}



.projects{
    width: 100%;
    height: 100%;
    grid-area: projects;
}

.cards{
    padding: 5px 15px;
    height: 100%;
    width: 100%;
    display: grid;
    gap:15px;
    grid-template: repeat(auto-fill, minmax(min-content, 200px)) / repeat(auto-fill, minmax(min-content, 275px));
}

.card{
    box-sizing: border-box;
    height:100%;
    width:auto;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid gold;
    box-shadow: 2px 2px 5px lightgrey;
}

.card:hover{
    box-shadow: 2px 2px 5px grey;
    transition: box-shadow .3s ease-in-out;
}

.cardtitle{
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.cardtitle:hover{
    text-decoration: underline;
}

.cardtitle:visited{
    color:black;
}

.cardtext{
    font-weight:lighter;
    font-size: 12px;
    color:grey;
    margin-top:5px;
}

.cardcontrols{
    display: flex;
    align-self: flex-end;
}

.cardcontrols>a{
    height:24px;
    width:24px;
    margin:0px 5px;
}

.cardIcon{
    height: 20px;
    width:20px;
}

.cardIcon:hover{
    height:24px;
    width:24px;
    transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
}

.announcements{
    grid-area: announcements;
}


.trending{
    grid-area: trending;
}

.section{
    display:flex;
    flex-direction: column;
    
}

.sectionContent{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 5px lightgrey;
}

.innerContent{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.innerContent:last-child{
    border:none;
}

.x{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-text{
    color: white;
    font-size: 32px;
    margin: 10px;
}

.brand{
    display:flex;
    align-items: center;
}

.nav, .account{
    display: grid;
    grid-template: repeat(6, min-content) / 1fr 3fr;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}

.placeholder{
    height: 15px;
    width: 15px;
    background-color: rgb(249, 176, 176);
    margin: 0px 10px;
}

.sideIcon{
    height: 15px;
    width:15px;
    margin:0 10px;
}

.navtext{
    color: white;
    font-size: 15px;
    justify-self: left;
    margin:0;
}


.searchbar{
    display: flex;
    align-items: center;
    margin-bottom:10px;
}

.acc{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.headerAvatar{
    border-radius:50%;
    height:36px;
    width:36px;
    margin: 0px 5px;
}

form{
    flex: 1;
    display: flex;
}

input[type="search"]{
    flex: 1;
    height: 25px;
    border: 0;
    background-color: rgb(220, 220, 220);
    border-radius: 25px;
    padding-left:10px;
}

.welcome{
    display: grid;
    grid-template: repeat(2, min-content) / auto 1fr;
    grid-template-areas:
    "pic hello"
    "pic accname";
    column-gap: 10px;
}

.bigAvatar{
    height: 45px;
    width: 45px;
    border-radius:50%;
    grid-area:pic;
    align-self:center;
}

.accname{
    grid-area: accname;
    align-self: start;
    margin:0;
    font-size:18px;
    font-weight: bold;
}

.hello{
    grid-area: hello;
    align-self: end;
    font-size: 12px;
    font-weight: bold;
    margin:0px 0px 4px 0px;
}

.controls{
    display: flex;
    justify-content: flex-end;
}

button{
    margin: 0px 25px;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ea580c;
    color: white;
}

button:hover{
    background-color: #7c2d12;
    transition: background-color 0.3s ease-in-out;
}

.sectionTitle{
    margin: 0 15px;
    font-size: 20px;
}

.accDisplay{
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    grid-template-areas:
    "ppic handle"
    "ppic name";
    justify-content: left;
    align-items: center;
}

.profilePic{
    grid-area: ppic;
    justify-self: right;
    border-radius:50%;
    height: 36px;
    width:36px;
    margin-right:5px;
    align-self:center;
}

.handle{
    color: black;
    font-size: 14px;
    grid-area: handle;
    align-self: bottom;
}

.handle:hover{
    text-decoration: underline;
}

.name{
    align-self:top;
    margin:0;
    color:grey;
    font-size: 10px;
    grid-area: name
}

.acc>a{
    font-size:16px;
    color: black;
    align-self: center;
}

.acc>a:hover{
    text-decoration: underline;
}

.navtext:hover{
    font-weight:bold;
}

.accDisplay>a{
    
}
