body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(215, 215, 215);
    font-family: Arial;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar{
    background-color: #4596c2;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 30px;
    padding: 10px;
}

.header{
    background-color: #fff;
    grid-area: header;
    display: grid;
    grid-template: min-content 2fr / 6fr 4fr;
    padding: 10px 25px;
    align-items: center;
}

.content{
    background-color: rgb(215, 215, 215);
    grid-area: main-content;
    padding:10px;
    display: grid;
    grid-template: repeat(2, 1fr) / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: 15px;
}



.projects{
    grid-area: projects;
}

.cards{
    padding: 5px 15px;
    height: 100%;
    width: 100%;
    display: grid;
    gap:15px;
    grid-template: repeat(auto-fit, minmax(min-content, 165px)) / repeat(2, minmax(min-content, 260px));
    overflow: auto;
}

.card{
    box-sizing: border-box;
    height:100%;
    width:auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardtitle{
    font-weight: 500;
    font-size: 14px;
}

.cardtext{
    font-weight:lighter;
    font-size: 12px;
    color:grey;
}

.cardcontrols{
    display: flex;
    align-self: flex-end;
}


.announcements{
    grid-area: announcements;
}


.trending{
    grid-area: trending;
}

.section{
    display:flex;
    flex-direction: column;
}

.sectionContent{
    background-color: white;
    border-radius: 10px;
    flex: 1;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-text{
    color: white;
    font-size: 32px;
    margin: 10px;
}

.nav, .account{
    display: grid;
    grid-template: repeat(6, min-content) / 1fr 3fr;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}

.placeholder{
    height: 15px;
    width: 15px;
    background-color: rgb(249, 176, 176);
    margin: 0px 10px;
}

.navtext{
    color: white;
    font-size: 15px;
    justify-self: left;
    margin:0;
}


.searchbar{
    display: flex;
    align-items: center;
}

.acc{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

form{
    flex: 1;
    display: flex;
}

input[type="search"]{
    flex: 1;
    height: 25px;
    border: 0;
    background-color: rgb(197, 197, 197);
    border-radius: 25px;
}

.welcome{
    display: grid;
    grid-template: repeat(2, min-content) / auto 1fr;
    grid-template-areas:
    "pic hello"
    "pic accname";
    column-gap: 10px;
}

.pic{
    grid-area: pic;
    align-self: center;
}

.accname{
    grid-area: accname;
    align-self: start;
    margin:0;
    font-size:18px;
    font-weight: bold;
}

.hello{
    grid-area: hello;
    align-self: end;
    font-size: 12px;
    font-weight: bold;
    margin:0px 0px 4px 0px;
}

.controls{
    display: flex;
    justify-content: flex-end;
}

button{
    margin: 0px 25px;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4596c2;;
    color: white;
}

.sectionTitle{
    margin: 0 15px;
    font-size: 20px;
}
